  #msgbox {
      margin-top: 5px;
      width: 600px;
      height: 500px;
      overflow-y: scroll;
      overflow-x: wrap;
  }
  
  #message input {
      height: 50px;
      width: 600px;
  }
  
  #messages p {
      font-size: 20px;
  }
  
  #msgheader {
      height: 30px;
      background: #2c3e50;
      color: #ecf0f1;
  }
  
  #header {
      height: 100px;
      background: #26c6da;
      color: #e0f7fa;
      padding-top: 30px;
  }
  /*#msgwell {
      background: red;
      width: 300px;
      overflow-x: wrap;
      color: white;
      border-radius: 20px;
      padding: 10px;
  }*/
  
  #titlebar {
      height: 40px;
      background: #1E88E5;
      color: white;
      padding-left: 10px;
      width: 300px;
  }
  
  #users {
      color: green;
      font-size: 25px;
      height: 400px;
      overflow-y: scroll;
      padding: 5px;
      text-align: center;
  }
  
  #usrnm {
      color: #512DA8;
  }
  
  #welcome {
      font-size: 14px;
      font-family: consolas;
      font-weight: bold;
  }
  
  #onlinediv {
      width: 350px;
  }

  #login{
    width:400px;
    height:200px;
    background: #0288D1;
    text-align: center;
    margin-top: 200px;
    color: white;
    margin-left:600px;
  }

  #login #username{
    color: black;
  }