  #msgbox {
      height: 600px;
      overflow-y: scroll;
      overflow-x: wrap;
  }
  
  #message input {
      height: 50px;
      width: 800px;
      margin-left: 450px;
  }
  
  #msgbtn{
    background: black;
    color: white;
    margin-left: 450px;
  }

  #messages p {
      font-size: 20px;
  }
  
  #msgheader {
      height: 30px;
      background: #2c3e50;
      color: #ecf0f1;
  }
  
  #header {
      height: 100px;
      background: #26c6da;
      color: #e0f7fa;
  }

 /* #msgwell {
      background: red;
      width: 300px;
      overflow-x: wrap;
      color: white;
      border-radius: 20px;
      padding: 10px;
  }*/
  
 /* #titlebar {
      height: 40px;
      background: #1E88E5;
      color: white;
      padding-left: 10px;
      width: 300px;
  }*/
  
  #users {
      color: #2ecc71;
      font-size: 20px;
      height: 500px;
      overflow-y: scroll;
      text-align: center;
  }
  
  #usrnm {
      color: #512DA8;
  }
  
  #welcome {
      font-size: 20px;
      font-family: consolas;
      font-weight: bold;
      margin-top:10px;
  }
  
/*  #onlinediv {
      width: 350px;
      border: solid;
  }*/

  #login{
    text-align: center;
    margin-top: 200px;
    margin-left:50px;
  }

  #login #username{
    color: black;
  }

  #bar{
    background: #2c3e50;
    color: white;
    height: 40px;
  }
  
  #onlinecount{
    background: white;
    color: black;
    font-size: 20px;
  }

  .panel > .panel-heading{
    background: #3498db;
    color: white;
  }
  
  #extradiv{
    height:500px;
  }