.message-user {
    font-size: 1.1rem;
    margin-right: 0.25rem;
}

.message-header {
    display: flex;
    align-items: center;
}

.message-header-icon {
    margin-right: 0.5rem;
}

.message-time {
    font-size: 1rem;
    font-weight: 100;
    opacity: 70%;
}

.message-content {
    margin-left: 3rem;;
}

.message-well {
    padding: 0.5rem;
    border-bottom: 1px solid #dedede;
}

.message {
    font-size: 1.25rem;
    line-height: 1.25;
}
