.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16 {
    width: 30%;
    height: 80vh;
    margin-top: 0.5rem;
}

.drawerHeader {
    height: 2rem;
    padding: 1rem;
    background: #2196f3;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onlineUsers {
    height: 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.onlineUser {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    font-size: 1.25rem;
}
