.chatContainer {
    min-width: 50%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    background: white;
}

.chatHeader {
    background: #2196f3;
    width: -webkit-fill-available;
    height: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    font-size: 1.5rem;
}

.user,
.room {
    display: flex;
    align-items: center;
}
